<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="container transactionform">
  <h3 class="transactionform__h3">Nova transação</h3>
  <label class="transactionform__label--transactiontype transactionform__label">
    Tipo da transação
    <select type="select" formControlName="transactionType" class="transactionform__select">
      <option value="compra">Compra</option>
      <option value="venda">Venda</option>
    </select>
  </label>
  <label class="transactionform__label--commodityname transactionform__label">
    Nome da mercadoria
    <input type="text" formControlName="commodityName" placeholder="Input" class="transactionform__input">
  </label>
  <label class="transactionform__label--price transactionform__label">
    Valor
    <input type="text" formControlName="price" placeholder="R$ 0,00" class="transactionform__input">
  </label>
  <input type="submit" value="Adicionar transação" class="transactionform__submit">
</form>