@import "./components/shared/styles/shared";

.main {
  grid-gap: 30px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 20px 1fr 20px;
  }

  &__footer {
    grid-area: footer;
    grid-row-start: 3;
  }

}

@media (min-width: 1200px) {
  .main {
    &__content {
      grid-template-columns: auto 1100px auto;
    }

    &__sidebar {
      display: none;
    }
  }
}
