/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  display: grid;
}

@media(min-width: 1200px){
  .container {
    grid-template-columns: auto 1100px auto;
  }
}